{% extends 'dashboard/layout.html' %}
{% load currency_filters %}
{% load i18n %}

{% block title %}
    {% trans "Bank Transfer transaction" %} {{ txn.pnref }} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li>
            <a href="{% url 'banktransfer-transaction-list' %}">{% trans "Bank Transfer" %}</a>
        </li>
        <li class="active">
            {{ txn.reference }}
        </li>
    </ul>
{% endblock %}

{% block headertext %}
    {% blocktrans with reference=txn.reference %}Transaction {{ reference }}{% endblocktrans %}
{% endblock %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr><th>{% trans "Reference" %}</th><td>{{ txn.reference }}</td></tr>
            <tr><th>{% trans "Order Number" %}</th><td>{{ txn.order_number }}</td></tr>
            <tr><th>{% trans "Date" %}</th><td>{{ txn.date_created }}</td></tr>
            <tr><th>{% trans "Method" %}</th><td>{{ txn.method }}</td></tr>
            <tr><th>{% trans "Bank Account" %}</th><td>{{ txn.bank_account }}</td></tr>
            <tr><th>{% trans "Amount" %}</th><td>{{ txn.amount|default:"-" }}</td></tr>
            <tr><th>{% trans "Currency" %}</th><td>{{ txn.currency }}</td></tr>
            <tr><th>{% trans "Confirmed" %}</th><td>{{ txn.confirmed|yesno:_("Yes,No") }}</td></tr>
            <tr><th>{% trans "Date confirmed" %}</th><td>{% if txn.confirmed %}{{ txn.date_confirmed }}{% else %} - {% endif %}</td></tr>
        </tbody>
    </table>
{% endblock dashboard_content %}
