{% extends "layout_2_col.html" %}

{% load basket_tags %}
{% load promotion_tags %}
{% load category_tags %}
{% load product_tags %}
{% load form_tags %}
{% load widget_tweaks %}
{% load i18n %}
{% load form_tags %}
{% load widget_tweaks %}

{% block title %}
    {% if summary %}{{ summary }} |{% endif %} {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul>
        <li class="breadcrumb-item">
            <a href="{{ homepage_url }}">{% trans "Home" %}</a>
        </li>
        <li class="breadcrumb-item current">
            {{ summary }}
        </li>
    </ul>
{% endblock breadcrumbs %}

{% block column_left %}
    {% category_tree as tree_categories %}
    {% if tree_categories %}
    <div class="widget">
        <h1 class="border">{% trans "Categories" %}</h1>
        <div class="body">
            <ul class="le-links">
                <li>
                    <a href="{% url 'catalogue:index' %}">
                        {% if not category %}
                            <strong>{% trans "All products" %}</strong>
                        {% else %}
                            {% trans "All products" %}
                        {% endif %}
                    </a>
                </li>
                {% for tree_category, info in tree_categories %}
                    <li>
                        <a href="{{ tree_category.get_absolute_url }}">
                            {% if tree_category.pk == category.pk %}
                                <strong>{{ tree_category.name }}</strong>
                            {% else %}
                                {{ tree_category.name }}
                            {% endif %}
                        </a>

                        {% if info.has_children %}<ul>{% else %}</li>{% endif %}
                        {% for n in info.num_to_close %}
                            </ul></li>
                        {% endfor %}
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}
    {% if has_facets %}
        <h4>{% trans "Refine by" %}</h4>
        <div class="side_categories">
            {% for field, data in facet_data.items %}
                {% if data.results %}
                    {% include 'search/partials/facet.html' with name=data.name items=data.results %}
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if products %}
        <section>
            <div class="grid-list-products">
                {% block section_title %} <h2 class="section-title">{{ summary }}</h2> {% endblock %}
                <div class="control-bar">
                    <form method="get">
                        {# Render other search params as hidden inputs #}
                        {% for value in selected_facets %}
                            <input type="hidden" name="selected_facets" value="{{ value }}" />
                        {% endfor %}
                        <input type="hidden" name="q" value="{{ search_form.q.value|default_if_none:"" }}" />

                        {% if paginator.count %}
                            {% if form %}
                                <div id="popularity-sort" class="le-select">
                                    {% render_field search_form.sort_by %}
                                </div>
                            {% endif %}
                        {% endif %}
                    </form>
                </div>
                <div class="tab-content">
                    <div id="grid-view" class="products-grid fade tab-pane in active">
                        <div class="product-grid-holder">
                            <div class="row no-margin">
                                {% for product in products %}
                                    {% render_product product %}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="pagination-holder">
                            <div class="row">
                                <div class="col-xs-12 col-sm-6 text-left">
                                    {% include "partials/pagination.html" %}
                                </div>

                                <div class="col-xs-12 col-sm-6">
                                    <div class="result-counter">
                                        {% if paginator.count %}
                                            {% if paginator.num_pages > 1 %}
                                                {% blocktrans with start=page_obj.start_index end=page_obj.end_index count num_results=paginator.count %}
                                                    <span>{{ num_results }}</span> result - showing <span>{{ start }}</span> to <span>{{ end }}</span>.
                                                {% plural %}
                                                    <span>{{ num_results }}</span> results - showing <span>{{ start }}</span> to <span>{{ end }}</span>.
                                                {% endblocktrans %}
                                            {% else %}
                                                {% blocktrans count num_results=paginator.count %}
                                                    <span>{{ num_results }}</span> result.
                                                {% plural %}
                                                    <span>{{ num_results }}</span> results.
                                                {% endblocktrans %}
                                            {% endif %}
                                        {% else %}
                                                {% trans "<span>0</span> results." %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% else %}
        <p class="nonefound">{% trans "No products found." %}</p>
    {% endif %}
{% endblock content %}

{% block onbodyload %}
    {{ block.super }}
    oscar.search.init();
{% endblock %}
