{% extends 'dashboard/layout.html' %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {% trans 'Applicant' %} '{{ applicant.name }}' | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li><a href="{% url 'applicant-list' %}">{% trans "Applicants" %}</a></li>
        <li class="active">{% trans "Applicant" %} '{{ applicant.name }}'</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete Applicant" %} '{{ applicant.name }}'
{% endblock %}

{% block dashboard_content %}
    <form action="." method="post">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to delete this applicant?" %}</p>

        <div class="form-group">
            <p><strong>{{ applicant.name }}</strong></p>
        </div>

        <div class="form-actions">
            <button class="btn btn-lg btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button> {% trans "or" %}
            <a href="{% url 'applicant-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock dashboard_content %}