{% load django_tables2 %}
{% load i18n %}
<div class="btn-toolbar">
    <div class="btn-group">
        <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-expanded="true">
            {% trans "Actions" %}
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
        	<li><a href="{% url 'link-detail' pk=record.pk %}">{% trans "View" %}</a></li>
            <li><a href="{% url 'link-update' pk=record.pk %}">{% trans "Edit" %}</a></li>
            <li><a href="{% url 'link-delete' pk=record.pk %}">{% trans "Delete" %}</a></li>
        </ul>
    </div>
</div>