{% extends 'dashboard/layout.html' %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {% trans 'Category' %} | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li><a href="{% url 'category-list' %}">{% trans "Categories" %}</a></li>
        <li class="active">{% trans "Category" %} '{{ category.category }}'</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete category" %}
{% endblock %}

{% block dashboard_content %}
    <form action="." method="post">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to delete this category?" %}</p>
        <div class="form-group">
            <p><strong>{{ category.category }}</strong></p>
        </div>

        <div class="form-actions">
            <button class="btn btn-lg btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button> {% trans "or" %}
            <a href="{% url 'category-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock dashboard_content %}