{% extends 'dashboard/layout.html' %}
{% load i18n %}

{% block title %}
    {% trans "Departement" %} '{{ departement.departement }}' | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
   <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li><a href="{% url 'departement-list' %}">{% trans "Departements" %}</a></li>
        <li class="active">{% trans "Departement" %} '{{ departement.departement }}'</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Departement" %} '{{ departement.departement }}'
{% endblock %}

{% block dashboard_content %}
    <table class="table table-striped table-bordered">
        <tbody>
            <tr><th>{% trans "Departement" %}</th><td>{{ departement.departement }}</td></tr>
        </tbody>
    </table>
{% endblock dashboard_content %}
