{% extends 'dashboard/layout.html' %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {% trans "Slider" %} '{{ title }}' | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li><a href="{% url 'slider-list' %}">{% trans "Sliders" %}</a></li>
        {% if slider %}
            <li class="active">{% trans "Slider" %} '{{ title }}'</li>
        {% else %}
            <li class="active">{{ title }}</li>
        {% endif %}
    </ul>
{% endblock %}

{% block headertext %}
    {% if slider %}{% trans "Slider" %} '{{ title }}'{% else %}{% trans "Create new slider" %}{% endif %}
{% endblock %}

{% block dashboard_content %}
    <form action="." method="post" class="form-stacked well" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "dashboard/partials/form_fields.html" with form=form %}
        {% block form_actions %}
            <div class="form-actions">
                <button class="btn btn-primary btn-lg" type="submit" data-loading-text="{% trans 'Saving...' %}">{% trans "Save" %}</button> {% trans "or" %}
                {# This is an input so we distinguish between which button was pressed #}
                <input class="btn btn-primary btn-lg" type="submit" name="action" value="{% trans "Save and edit sliders" %}"/>
                {% trans "or" %}
                <a href="{% url 'slider-list' %}">{% trans "cancel" %}</a>
            </div>
        {% endblock form_actions %}
    </form>
{% endblock dashboard_content %}
