{% load reviews_tags %}
{% load staticfiles %}
{% load i18n %}


<div class="col-lg-1 col-xs-12 col-sm-2 no-margin">
    <div class="avatar">
        <img alt="avatar" src="{% static "media-center/img/default-avatar.jpg" %}">
    </div><!-- /.avatar -->
</div><!-- /.col -->

<div class="col-xs-12 col-lg-11 col-sm-10 no-margin">
    <div class="comment-body">
        <div class="meta-info">
            <div class="author inline">
                <a class="bold" href="{% url 'catalogue:reviews-detail' product_slug=product.slug product_pk=product.pk pk=review.pk %}">
                    {% if review.user == user %}
                        {% blocktrans with review_date=review.date_created %}
                        You
                        {% endblocktrans %}
                    {% else %}
                        {% blocktrans with name=review.reviewer_name review_date=review.date_created %}
                           {{ name }}
                        {% endblocktrans %}
                    {% endif %}
                </a>
            </div>
            <div class="star-holder inline">
                <div class="star" data-score="{{ review.score|stringformat:'d' }}"></div>
            </div>
            <div class="date inline pull-right">
                {{ review_date }}
            </div>
        </div><!-- /.meta-info -->
        <p class="comment-text">
            {{ review.body|striptags }}
        </p>

        {% if review|may_vote:user %}
            <small>{% trans "Is this review helpful?" %}</small>
            <form action="{% url 'catalogue:reviews-vote' product_slug=product.slug product_pk=product.pk pk=review.pk %}" method="post" class="vote_agree" >
                {% csrf_token %}
                <input type="hidden" name="delta" value="1"/>
                <button type="submit" class="btn btn-success btn-xs" data-loading-text="{% trans 'Submitting...' %}">{% trans "Yes" %}</button>
            </form>
            <form  action="{% url 'catalogue:reviews-vote' product_slug=product.slug product_pk=product.pk pk=review.pk %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="delta" value="-1"/>
                <button type="submit" class="btn btn-danger btn-xs" data-loading-text="{% trans 'Submitting...' %}">{% trans "No" %}</button>
            </form>
        {% endif %}
                 
        <p>   
            <small>
            {% if review.has_votes %}
                {% blocktrans with num_up_votes=review.num_up_votes count num_votes=review.total_votes %}
                <strong>{{ num_up_votes }}</strong> of {{ num_votes }} customer found this useful
                {% plural %}
                <strong>{{ num_up_votes }}</strong> of {{ num_votes }} customers found this useful
                {% endblocktrans %}
            {% else %}
                {% trans "This review has no votes." %}
            {% endif %}
            </small>
        </p>

    </div>
</div><!-- /.col -->
