{% extends 'dashboard/layout.html' %}
{% load thumbnail %}
{% load i18n %}

{% block title %}
    {% trans 'Career' %} '{{ career.title }}' | {{ block.super }}
{% endblock %}

{% block breadcrumbs %}
    <ul class="breadcrumb">
        <li>
            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
        </li>
        <li><a href="{% url 'career-list' %}">{% trans "Careers" %}</a></li>
        <li class="active">{% trans "Career" %} '{{ career.title }}'</li>
    </ul>
{% endblock %}

{% block headertext %}
    {% trans "Delete Career" %} '{{ career.title }}'
{% endblock %}

{% block dashboard_content %}
    <form action="." method="post">
        {% csrf_token %}
        <p>{% trans "Are you sure you want to delete this career?" %}</p>

        <div class="form-group">
            <p><strong>{{ career.title }}</strong></p>
        </div>

        <div class="form-actions">
            <button class="btn btn-lg btn-danger" type="submit" data-loading-text="{% trans 'Deleting...' %}">{% trans "Delete" %}</button> {% trans "or" %}
            <a href="{% url 'career-list' %}">{% trans "cancel" %}</a>
        </div>
    </form>
{% endblock dashboard_content %}