{% load i18n %}

<nav class="top-bar animate-dropdown">
    <div class="container">
        <div class="col-xs-12 col-sm-6 no-margin">
            {% if LANGUAGES|length > 1 %}
                <form id="language_selector" class="navbar-left navbar-form" action="{% url 'set_language' %}" method="post">
                    {% csrf_token %}
                    <input name="next" type="hidden" value="{{ language_neutral_url_path }}" />
                    <div class="form-group">
                        <select name="language" class="form-control">
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE%} selected="selected"{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>
                    <button class="btn btn-default" type="submit" data-loading-text="{% trans 'Submitting...' %}">{% trans "Go" %}</button>
                </form>
            {% endif %}
            <ul>
                {% block nav_extra %}
                {% endblock %}
                {% if user.is_authenticated %}
                    {% if not perms.partner.dashboard_access %}
                        <li>
                            <a href="{% url 'partner:partner-registration' %}">
                                <i class="icon-payment"></i> {% trans "Create your own store" %}
                            </a>
                        </li>
                    {% endif %}
                {% endif %}
            </ul>
        </div>
        <div class="col-xs-12 col-sm-6 no-margin">
            <ul class="right">
                {% if user.is_authenticated %}
                    <li>
                        {% if num_unread_notifications > 0 %}
                            {# If user has new notifications - we change account link to go to inbox #}
                            <a href="{% url 'customer:notifications-inbox' %}">
                                <i class="icon-user"></i>
                                {% trans "Account" %}
                                <span class="label label-important">{{ num_unread_notifications }}</span>
                            </a>
                        {% else %}
                            <a href="{% url 'customer:summary' %}"><i class="icon-user"></i> {% trans "Account" %}</a>
                        {% endif %}
                    </li>
                    {% if user.is_staff or perms.partner.dashboard_access %}
                        <li><a href="{% url 'dashboard:index' %}"><i class="icon-list-ul"></i> {% trans "Dashboard" %}</a></li>
                    {% endif %}
                    <li><a id="logout_link" href="{% url 'customer:logout' %}"><i class="icon-signout"></i> {% trans "Logout" %}</a></li>
                    <li><a href="{% url 'confirmation:payment-page' %}"><i class="icon-credit-card"></i> {% trans "Payment" %}</a></li>
                {% else %}
                    <li><a id="login_link" href="{% url 'customer:login' %}"><i class="icon-signin"></i> {% trans "Login or register" %}</a></li>
                    <li><a href="{% url 'confirmation:payment-page' %}"><i class="icon-credit-card"></i> {% trans "Payment" %}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>